.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 0.9rem;
  font-style: oblique;
  padding: 1.5px;
  color: black;
  text-align: center;
}
